.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  margin-bottom: 100px;
}

.conteainer {
  width: 970px;
  margin: auto;
}

.teams-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 970px;
}

.teams-item {
  margin-right: 23px;
}

.teams-item:nth-child(4n) {
  margin-right: 0;
}

.teamd-card__img {
  width: 200px;
  height: 160px;
}

.team-card__link {
  text-decoration: none;
  color: black;
}

.players-score--h2 {
    font-size: 5em;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row; 
}